@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-internal-b3fm6y {
  background-color: #48cae4;
  border: 2px solid white;
}

.cl-internal-15amzqo {
  color: #48cae4;
}

tr {
  border: 1px solid #08becd;
}

th {
  border: 1px solid #08becd;
  padding: 0.5rem;
}

td {
  font-size: 15px;
  padding: 0.5rem;
  border: 1px solid #08becd;
}
